<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PawnshopUnchu</title>
    <link rel="stylesheet" href="login.css">
  </head>
  <body>

		<nav class="contenedorMenu">
      
      <div class="enlaces">
        <a href="menu_horizontal.html">Inicio</a>
        <a href="nosotros.html">Quiénes somos</a>
        <a href="servicios.html">Servicios</a>
        <a href="inicio_sesion.html">Iniciar sesion</a>

      </div>
      <div class="hamburguesa">
          <img src="img/menu-alt-right-regular-48.png" alt="" id="hamburguesa">
      </div>
      
  </nav>

    <div class="login-box">
      <img src="logo.png" class="avatar" alt="Avatar Image">
      <h1>Iniciar Sesion</h1>
      <h1>Cliente</h1>
      <form>
        <!-- CorreT -->
        <label for="Correo">Correo</label>
        <input type="text" placeholder="Ingrese su Correo">
        <!-- USERNAME INPUT -->
        <label for="Nombre de Usuario">Nombre de Usuario</label>
        <input type="text" placeholder="Ingrese su Nombre de Usuario">
        <!-- PASSWORD INPUT -->
        <label for="Contraseña">Contraseña</label>
        <input type="password" placeholder="Ingrese su Contraseña">
       
        <nav onclick="location.href='index.html'"type="submit" value="Ingresar" >Ingresar</nav>
        
        <a href="Registrate.html" class="to_register">Aun no cuento con una cuenta, Registrarme</a>
         
       
      </form>
    </div>
  </body>
</html>