<!DOCTYPE html>
<html lang="es">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"&amp;gt>
	<meta charset="utf-8">
    <link rel="stylesheet" href="css/stylemenu.css">
    <link rel="stylesheet" href="css/layers.min.css" media="screen">
    <link rel="stylesheet" href="service.css" media="screen">
    <link rel="stylesheet" href="css/boton.css" media="screen">
    <title>Servicios</title>
</head>
<body>
    <nav class="contenedorMenu">
      
        <div class="enlaces">
          <a href="menu_horizontal.html">Inicio</a>
          <a href="nosotros.html">Quiénes somos</a>
          <a href="servicios.html">Servicios</a>
          <a href="inicio_sesion.html">Iniciar sesion</a>
  
        </div>
        <div class="hamburguesa">
            <img src="img/menu-alt-right-regular-48.png" alt="" id="hamburguesa">
        </div>
        
    </nav>
  
  <div class="container">
    <div class="item">
      <img src="img/Epson.png" alt="" class="item-img">
      <div class="item-text">
        <h3>Imagen 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur.</p>
      </div>
    </div>
    
    <div class="item">
      <img src="images/img2.jpg" alt="" class="item-img">
      <div class="item-text">
        <h3>Imagen 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur.</p>
      </div>
    </div>
    
    <div class="item">
      <img src="images/img3.jpg" alt="" class="item-img">
      <div class="item-text">
        <h3>Imagen 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur.</p>
      </div>
    </div>
    
    <div class="item">
      <img src="images/img4.jpg" alt="" class="item-img">
      <div class="item-text">
        <h3>Imagen 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur.</p>
      </div>
    </div>
    
    
    <div class="item">
      <img src="images/img5.jpg" alt="" class="item-img">
      <div class="item-text">
        <h3>Imagen 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur.</p>
      </div>
    </div>
    
    <div class="item">
      <img src="images/img6.jpg" alt="" class="item-img">
      <div class="item-text">
        <h3>Imagen 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur.</p>
      </div>
    </div>
  </div>
  
</body>
</html>