@{
    ViewBag.Title = "Acerca de Nosotros";
}

<link rel="stylesheet" href="~/Content/style.css">
<link href="~/Content/style_conocenos.css" rel="stylesheet">

<div class="banner2">
    <div class="capa"></div>
    <div class="info">
        <div class="titulo-general">
            <h1>Acerca de Nosotros</h1>
        </div>
    </div>
</div>

<div class="section-container section-half-background-image-container" style="margin-top:5vh;">
    <div class="image-column"><center><img src="~/img/vision (1).png" width="35%"></center></div>
    <div class="container">
        <div class="row">
            <div class="section-label reveal">

            </div>
            <div class="col-md-6 col-md-offset-6 text-column">
                <h2>VISIÓN</h2>

                <p>
                    Ser una empresa líder en empeño y préstamos, convirtiéndonos así en una Edpyme,
                    posicionándose a nivel de la selva central y la provincia de Huancayo para el 2025,
                    siendo promotora de empleo y ayudando al desarrollo económico, siendo trascendencia
                    de éxito.
            </div>
        </div>
    </div>
</div>
<br>
<br>

<div class="section-container section-half-background-image-container">
    <div class="image-column"><center><img src="~/img/objetivo.png" width="35%"></center></div>
    <div class="container">
        <div class="row">
            <div class="section-label reveal">

            </div>
            <div class="col-md-6 col-md-offset-6 text-column">
                <h2>MISIÓN</h2>

                <p>
                    Somos una casa de empeño y/o préstamos "Créditos y Negociaciones Cesar",
                    que promueve el éxito de sus cliente con soluciones financieras adecuadas
                    para sus necesidades, con excelencia, integridad y competitividad.
            </div>
        </div>
    </div>
</div>

<div class="section-container">
    <div class="container">
        
        <div class="page-section text-center">
            <h1 class="page-section__title">Contactenos en:</h1>
            <div class="page-section__title-style">
                <span class="first-line"></span>
                <span class="second-line"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <center><img src="~/img/llamada-telefonica.png" width="19%"></center>
                <h3 class="text-center">Número</h3>
                <center><p>925703934</p></center>
            </div>

            <div class="col-xs-12 col-md-4">
                <center><img src="~/img/correo-electronico.png" width="21%"></center>
                <h3 class="text-center">Correo</h3>
                <center><p>creditoscesar@gmail.com</p></center>
            </div>
            <div class="col-xs-12 col-md-4">
                <center><img src="~/img/ubicacion.png" width="20%"></center>
                <h3 class="text-center">Dirección</h3>
                <center><p> Av.Cafetaleros S/N</p></center>
            </div>
        </div>
    </div>
</div>