@model IEnumerable<PawnshopUnchuMVC.Models.tblUser>

@{
    ViewBag.Title = "Inicio";
}

<link rel="stylesheet" href="~/Content/style.css">
<link rel="stylesheet" href="~/Content/style_slider.css" />
<link rel="stylesheet" type="text/css" href="~/Content/lightslider.css" />

<div class="banner">
    <div class="capa"></div>
    <div class="info">
        <div class="titulo-general">
            <h1>Bienvenidos a <strong class="name-emp">Empeños Cesar</strong></h1>
        </div>

        <p>Préstamos en efectivo al instante por tu garantía, en poco tiempo...</p>

    </div>
</div>

<section class="steps" style="margin-top:40px;">
    <div class="container">
        <div class="page-section text-center">
            <h2 class="page-section__title">Tres simples pasos</h2>
            <div class="page-section__title-style">
                <span class="first-line"></span>
                <span class="second-line"></span>
            </div>
            <p class="page-section__subtitle">Con solo tres simples pasos, usted obtendrá su efectivo al instante.</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="text-center steps__single steps__single-first">
                        <img src="~/img/Send.png" />
                        <p>ENVIAR SOLICITUD</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-center steps__single">
                        <img src="~/img/Confirmation.png" />
                        <p>ESPERAR CONFIRMACIÓN</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-center steps__single steps__single-last">
                        <img src="~/img/Recieve.png" />
                        <p>RECIBIR EFECTIVO</p>
                    </div>
                </div>
            </div>
            <div class="page-section text-center">
                <h2 class="page-section__title">Electrodomésticos</h2>
                <div class="page-section__title-style">
                    <span class="first-line"></span>
                    <span class="second-line"></span>
                </div>
            </div>
        </div>
</section>

<section style="margin-bottom:20px;">
    <div class="container2">
        <!--slider------------------->
        <ul id="autoWidth" class="cs-hidden">
            <!--1------------------------------>
            <li class="item-a">
                <!--slider-box-->
                <div class="box">
                    <p class="marvel" style="margin:0px;">REFRIGERADORA</p>
                    <!--model-->
                    <img src="img/1_refri.jpg" class="model">
                    <!--details-->
                    <div class="details">
                        <!--character-details-->
                        <p>En caso de que el comprador note algún desperfecto en la "refrigeradora" el periodo de compra no haya superado la vigencia de la garantía, procederemos a cambiar por uno completamente nuevo del mismo tipo y clase.</p>
                    </div>

                </div>
            </li>
            <!--2------------------------------>
            <li class="item-a">
                <!--slider-box-->
                <div class="box">
                    <p class="marvel"  style="margin:0px;">ARROCERA</p>
                    <!--model-->
                    <img src="img/8_arrocera.jpg" class="model">
                    <!--details-->
                    <div class="details">
                        <!--character-details-->
                        <p>En caso de que el comprador note algún desperfecto en la "arrocera" el periodo de compra no haya superado la vigencia de la garantía, procederemos a cambiar por uno completamente nuevo del mismo tipo y clase.</p>
                    </div>

                </div>
            </li>
            <!--3------------------------------>
            <li class="item-a">
                <!--slider-box-->
                <div class="box">
                    <p class="marvel" style="margin:0px;">TV</p>
                    <!--model-->
                    <img src="img/3_tv.jpg" class="model">
                    <!--details-->
                    <div class="details">
                        <!--character-details-->
                        <p>En caso de que el comprador note algún desperfecto en el "televisor" el periodo de compra no haya superado la vigencia de la garantía, procederemos a cambiar por uno completamente nuevo del mismo tipo y clase.</p>
                    </div>

                </div>
            </li>
            <!--4------------------------------>
            <li class="item-a">
                <!--slider-box-->
                <div class="box">
                    <p class="marvel" style="margin:0px;">LICUADORA</p>
                    <!--model-->
                    <img src="img/4_licuadora.jpg" class="model">
                    <!--details-->
                    <div class="details">
                        <!--character-details-->
                        <p>En caso de que el comprador note algún desperfecto en la "licuadora" el periodo de compra no haya superado la vigencia de la garantía, procederemos a cambiar por uno completamente nuevo del mismo tipo y clase.</p>
                    </div>

                </div>
            </li>
            <!--5------------------------------>
            <li class="item-a">
                <!--slider-box-->
                <div class="box">
                    <p class="marvel" style="margin:0px;">HORNO</p>
                    <!--model-->
                    <img src="img/5_horno.jpg" class="model">
                    <!--details-->
                    <div class="details">
                        <!--character-details-->
                        <p>En caso de que el comprador note algún desperfecto en el "horno" el periodo de compra no haya superado la vigencia de la garantía, procederemos a cambiar por uno completamente nuevo del mismo tipo y clase.</p>
                    </div>

                </div>
            </li>
            <!--6------------------------------>
            <li class="item-a">
                <!--slider-box-->
                <div class="box">
                    <p class="marvel" style="margin:0px;">TOSTADOR</p>
                    <!--model-->
                    <img src="img/6_tostador.jpg" class="model">
                    <!--details-->
                    <div class="details">
                        <!--character-details-->
                        <p>En caso de que el comprador note algún desperfecto en el "tostador" el periodo de compra no haya superado la vigencia de la garantía, procederemos a cambiar por uno completamente nuevo del mismo tipo y clase.</p>
                    </div>

                </div>
            </li>
            <!--7------------------------------>
            <li class="item-a">
                <!--slider-box-->
                <div class="box">
                    <p class="marvel" style="margin:0px;">CAFETERA</p>
                    <!--model-->
                    <img src="img/7_cafetera.jpg" class="model">
                    <!--details-->
                    <div class="details">
                        <!--character-details-->
                        <p>En caso de que el comprador note algún desperfecto en la "cafetera" el periodo de compra no haya superado la vigencia de la garantía, procederemos a cambiar por uno completamente nuevo del mismo tipo y clase.</p>
                    </div>

                </div>
            </li>

        </ul>
    </div>

</section>
<script src="~/Scripts/script.js" type="text/javascript"></script>