@{
    ViewBag.Title = "Servicios";
}

<link rel="stylesheet" href="~/Content/style.css">
<link href="~/Content/style_conocenos.css" rel="stylesheet">
<link href="~/Content/service.css" rel="stylesheet" />

<div class="banner2">
    <div class="capa"></div>
    <div class="info">
        <div class="titulo-general">
            <h1>Servicios</h1>
        </div>
    </div>
</div>

<div class="section-container section-half-background-image-container" style="margin-top:5vh;">
    <div class="image-column"><center><img src="~/img/serivicios.png" width="37%"></center></div>
    <div class="container">
        <div class="row">
            <div class="section-label reveal">

            </div>
            <div class="col-md-6 col-md-offset-6 text-column" style="font-size:20px;">
                <p>
                    El funcionamiento de Créditos y Negociaciones Cesar", es batante sencillo. Cualquier persona que acredite ser mayor de edad, puede acudir a nosotros y presentar el bien que desea empreñar. Un respondable valorará el estado del mismo, para determinar cuál es su valor y, en función de este, así será la cuantía del préstamo que ofrecerá.
            </div>
        </div>
    </div>
</div>
<br>
<div class="page-section text-center">
    <h1 class="page-section__title">Modelos de Pago:</h1>
    <div class="page-section__title-style">
        <span class="first-line"></span>
        <span class="second-line"></span>
    </div>
</div>
<br />
<div class="container-2">
    <div class="item">
        <img src="~/img/diario.png" alt="" class="item-img">
        <div class="item-text">
            <h3>Diarios</h3>
        </div>
    </div>

    <div class="item">
        <img src="~/img/semanal.png" alt="" class="item-img">
        <div class="item-text">
            <h3>Semanales</h3>
        </div>
    </div>

    <div class="item">
        <img src="~/img/mensual.png" alt="" class="item-img">
        <div class="item-text">
            <h3>Mensuales</h3>
        </div>
    </div>
</div>