@{
    ViewBag.Title = "Servicios";
}

<div class="modal-content">
    <div class="container-fluid" style="margin: auto;">
        <h2 style="position: relative;text-align: center;">Servicios de la empresa</h2>
        <form data-toggle="validator" role="form">
            <section class="col-12 d-flex">
                <img src="~/img/LOGOEMPRESA.jpeg" class="col-12" />
            </section>
            <div class="alingContent text-left">
                <p class="font-verde">El funcionamiento de Créditos y Negociaciones Cesar", es batante sencillo. Cualquier persona que acredite ser mayor de edad, puede acudir a nosotros y presentar el bien que desea empreñar. Un respondable valorará el estado del mismo, para determinar cuál es su valor y, en función de este, así será la cuantía del préstamo que ofrecerá.</p>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="control-label">En los distintos modelos de pago, que brinda la empresa, se tiene:</label>
            </div>
            <div class="form-group">
                <label class="control-label">Pago Diario</label>
                <br />
                <label class="control-label">Pago Semanal</label>
                <br />
                <label class="control-label">Pago Quincenal</label>
                <br />
                <label class="control-label">Pago Mensual</label>
            </div>
        </form>
    </div>
</div>